<%- include('./partials/head') %>
    <% if (user) { %>
<h1>Welcome to the app, <%= user.username %>!</h1>
<p>
  <!-- new sign out link -->
  <a href="/auth/sign-out">Sign out</a>
  <a href="/listings/new">Add a Listing</a>
  <a href="/listings/">View All Listings</a>
</p>
<% } else { %>
<h1>Welcome to the app, guest.</h1>
<p>
  <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
</p>
<% } %>
</body>
</html>